body {
  background: url('https://albiononline.com/assets/images/backgrounds/bg_body.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h2 {
  color: #f5ba42;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
}

.card-body {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .container {
    margin: 20px;
    padding: 15px;
  }

  h1, h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}

  
