@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext');

            body {
                background-color: #202020;
                color: #fff;
                font-family: Quicksand, sans-serif;
            }

            .kolor {
                color: red;
            }

            .tekst {
                -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                
            }
            @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

            .link {
                text-decoration: none;
                font-weight: bold;
                color:#fff;
            }

            .link:hover {
                color: red;
                transition: 1s;
            }

            .blok {
                background-color: #00000027;
                padding: 5% 5%;
                border-radius: 15%;
            }

.general__buttons {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-flow:wrap;
  gap:20px;
  color: #fff;
}

.btn {
  padding: 12px 19px;
  background-color: red;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
   animation: pulse 2s ease infinite;
   margin-top: 3%;
}

.btn:hover {
    background-color: rgb(161, 20, 20);
    transition: 1s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(255, 0, 0);
  }

  50% {
    box-shadow: 0 0 0 10px rgb(51, 140, 255, 0);
  }
}