@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext');


body{
    background-color: #111;
    font-family: Quicksand, sans-serif;
    overflow-x: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

h1{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}



@media only screen and (min-width:700px){
    h1{
        font-size: 2rem;
    }
}


.general__buttons {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-flow:wrap;
  gap:20px;
  color: #fff;
}

.btn {
  padding: 12px 19px;
  background-color: #338cff;
  border-radius: 20px;
  font-weight: bold;
  animation: pulse 2s ease infinite;
  text-decoration: none;
  color: #fff;
}


.btn:hover {
    background-color: #235eac;
    transition: 1s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(51, 140, 255, .7);
  }

  50% {
    box-shadow: 0 0 0 10px rgb(51, 140, 255, 0);
  }
}

footer {
    margin-top: 1%;
}

.btn1 {
  padding: 12px 19px;
  background-color: #FF1C00;
  border-radius: 20px;
  font-weight: bold;
  animation: pulse1 2s ease infinite;
  color: #fff;
  text-decoration: none;
}

.btn1:hover {
  background-color: #a72d1d;
  transition: 1s;
}

@keyframes pulse1 {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 51, 51, 0.7);
  }

  50% {
    box-shadow: 0 0 0 10px rgb(51, 140, 255, 0);
  }
}

hr {
  margin-top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

